@font-face { font-family: Rokkit; src: url('../fonts/rokkitt/Rokkitt.otf'); } 
@font-face { font-family: JosefinSlab; src: url('../fonts/josefin-slab/JosefinSlab-Regular.ttf'); }
@font-face { font-family: JosefinSlab; font-weight: bold; src: url('../fonts/josefin-slab/JosefinSlab-Bold.ttf'); }

$mq-break-phone-portrait: 400px;
$mq-break-phone-landscape: 620px;
$mq-break-tab: 768px;
$mq-break-desk: 980px;
$mq-break-large: 1200px;

$font-body: JosefinSlab, Helvetica, arial, sans-serif;
$font-fancy: Rokkit, courier, monotype;

$color-bkg: #222A2D;
$color-txt: white;
$color-active: #23D6F6;
$color-inactive: #8B8B8B;
$color-black: black;

body {
	font-family: $font-body;
	font-size: 1.4em;
	background: $color-bkg + #111;
	color: $color-txt;
	text-align: center;
	padding:0;
}
h1 {
	font-family: $font-fancy;
	font-size:2.5em;
	font-weight: normal;
	padding: 0;
	margin:1em 0 0;
		@media screen and (min-width: $mq-break-phone-portrait) {
			width:150px;
			margin:0 auto;		
		}
}
img,
iframe {
	max-width:100% !important;
}
input {
	background: $color-black;
	padding: 0.3em;
	font-size: 1em;
	color: $color-txt;
	font-family: $font-body;
	border: 1px solid $color-bkg + #666;
	text-align: center;
	max-width:90% !important;
	:-webkit-input-placeholder, 
	:-moz-placeholder,
	::-moz-placeholder,
	:-ms-input-placeholder {
		color: $color-txt;
	}
	
}

a {
	color: $color-active;
	text-decoration: none;
	&:hover {
		font-weight: bold;
	}
	&.inactive {
		color: $color-inactive;
		&:hover {
			font-weight: normal;
		}
	}
}
p {
	&#intro {
		max-width: 440px;
		margin: 0 auto 1em;
		line-height: 1.75em;
		letter-spacing: 0.1em;
		@media screen and (min-width: $mq-break-phone-portrait) {
			line-height: 1.2em;
			font-size:1em;
		}
	}
}
h2 {
	&#logo {
		position: absolute;
		top: 0.5em;
		left: 1em;
		width: 110px;
		margin: 0;
		padding: 0;
		opacity: 0.6;
		z-index: 100000000000;
	}
}
.videocontainer, 
iframe {
	width: 100%;
	height: 400px;
	background: $color-black;
	margin: 0;
	padding: 0;
}
.tools {
	position: absolute;
	top: 0;
	right: 1em;
	z-index: 100000000000;
	li {
		list-style: none;
		list-style-image: none;
		background: url(../img/icon_heart_white.png) no-repeat;
		height:40px;
		width:40px;
		margin-bottom: 0.5em;
		&.shuffle {
			background: url(../img/icon_shuffle.png) no-repeat;
		}
		&.favorite.active {
					background: url(../img/icon_heart_blue.png) no-repeat;
		}
		a {
			color: transparent;
		}
	}
}